@charset "UTF-8";
/* CSS Document */

.tm-red {
	color: red ; 
}

.tm-blue {
	color: blue ; 
}

.tm-underline {
	text-decoration: underline ;
}

.tm-ee {
	display: block ;
	border: groove ;
	width: 20em ; 
	height: 2ex ;
	font-family: "Lucida Console", Monaco, monospace ;
	font-weight: bold ;
}




fieldset{
	display:block;
	margin-left:2px;
	margin-right:2px;
	padding-top:0.35em;
	padding-bottom:0.625em;
	padding-left:0.75em;
	padding-right:0.75em;
	border:2px groove;
}

body{
	
	background-color:#ededed;
	
}

textarea{
	    border: 1px solid #EEEEEE;
        box-shadow: 1px 1px 0 #DDDDDD;
        display: block;
        font-family: 'Marck Script',cursive;
        font-size: 15px;
        line-height: 25px;
        margin: 2% auto;
        padding: 11px 20px 0 70px;
        resize: none;
        height: 200px;
        width: 400px;

        background-image: -moz-linear-gradient(top , transparent, transparent 49px,#E7EFF8 0px), -moz-radial-gradient(4% 50%, circle closest-corner, #f5f5f5, #f5f5f5 39%, transparent 0%), -moz-radial-gradient(3.9% 46% , circle closest-corner, #CCCCCC, #CCCCCC 43.5%, transparent 0%); 
        background-image: -webkit-linear-gradient(top , transparent, transparent 49px,#E7EFF8 0), -webkit-radial-gradient(4% 50%, circle closest-corner, #f5f5f5, #f5f5f5 39%, transparent 0%), -webkit-radial-gradient(3.9% 46%, circle closest-corner, #cccccc, #cccccc 43.5%, transparent 0%);

        -webkit-background-size:  100% 50px;
        background-size: 100% 50px;
	
	
}
//button css
input{
	background-color:#ededed;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#7777777;
	font-family:Arial;
	font-size:17px;
	padding:5px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
input:hover {
	background-color:#ccc2a6;
}
input:active {
	position:relative;
	top:1px;
}


