

.toc{
}

.tocLevel0{
margin-left: 20px;
}
.tocLevel1{
	margin-left: 40px; 
}
.tocLevel2{
	margin-left: 60px; 
}
.tocLevel3{
	margin-left: 80px; 
}
.tocLevel4{
	margin-left: 100px; 
}
.tocLevel5{
	margin-left: 120px; 
}
