@charset "UTF-8";
/* CSS Document */

/* Vertices are positioned absolutely within the instructions div. 
Use the style attriute to customize the width, height, top, and bottom
of individual vertices.
*/
.vertex { z-index: 999 ;
        background-color:rgba(222,184,135,0.5) ;
		visibility: visible;
		display: block ;
		width: 800px ;
		height: 100px ;
		overflow: auto ;
		border:thick ;
		border-color:black;
}


.applet {
	display: block ;
	left: 0px ;
	top: 0px ;
}

/* The instructions div is a container for the vertices. It sits in front of the applet and should be the same size.*/
#instructions {
	z-index: 99 ;
	display: block ;
	visibility: hidden ;
	top: 0 ;
	left: 0 ;
}

