@charset "UTF-8";
/* CSS Document */

.tm-red {
	color: red ; 
}

.tm-blue {
	color: blue ; 
}

.tm-underline {
	text-decoration: underline ;
}

.tm-expression-display {
	display: inline-block ;
	border: groove ;
	width: 20em ; 
	height: 2ex ;
	font-family: "Lucida Console", Monaco, monospace ;
	font-weight: bold ;
}

.tm-button {
}

.tm-canvas {
	/* display: inline-block ;*/
	border: groove ; 
	width: 400px ; 
	height: 80px ;
	/* font-family: "Lucida Console", Monaco, monospace ;
	font-weight: bold ; */
}

.tm-var-watcher {
	display: inline ;
	height: 2ex ;
	font-family: "Lucida Console", Monaco, monospace ;
	font-weight: normal ;
}

.tm-var-value {
	display: inline-block ;
	border: groove ;
	width: 10em ; 
	height: 2ex ;
	font-family: "Lucida Console", Monaco, monospace ;
	font-weight: bold ;
}