<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>web-api</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>createRTM</servlet-name>
    <servlet-class>com.remoteTMproject.controller.servlet.createRTM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createRTM</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>getRTM</servlet-name>
    <servlet-class>com.remoteTMproject.controller.servlet.getRTM</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getRTM</servlet-name>
    <url-pattern>*.go</url-pattern>
  </servlet-mapping>
</web-app>