@charset "UTF-8";
/* CSS Document */

#outer {
	display: block ;
	position:relative ;
	width: 800px ;
	height: 700px ;
}

.shim {
	position: absolute ;
	top: 0 ;
	left: 0 ;
	width: 800px ;
	height: 700px ;
	display: block ;
	z-index: 1 ;
	opacity: 1.0 ;
}

#pink {
	background: mistyrose ;
	position: absolute ;
	top: 0 ;
	left: 0 ;
	width: 800px ;
	height: 700px ;
	display: block ;
	transition: z-index 0s linear 1s, opacity 2s ;
	-webkit-transition: z-index 0s linear 1s, opacity 2s ;
}

#blue {
	background: rgb(51,255,255) ;
	position: absolute ;
	top: 0 ;
	left: 0 ;
	width: 800px ;
	height: 700px ;
	display: block ;
	transition: z-index 0s linear 1s, opacity 2s ;
	-webkit-transition: z-index 0s linear 1s, opacity 2s ;
}

.onTop {
	z-index: 2 ;
	opacity: 1.0 ;
}
.onBottom {
	z-index: 0 ;
	opacity: 0.0 ;
}