<html>
<head>
<title>Self Check Quiz System with Ajax implementation</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link type="text/css" rel="Stylesheet" href="../css/demo.css">
<script type="text/javascript" src="../js/jquery-1.11.3.js" ></script>
<script type="text/javascript" src="../js/ajax.js"></script>

</head>
<body>



<form>
  <fieldset>
    <legend>(Q1) Find the bigger one between two expression: i=(5+5)/2,j=(8+10)/3</legend>
    <br /> Enter The c++ codes:  <textarea id="Codes" rows="10" cols="50"></textarea>
 </fieldset>

 <fieldset>
   <legend>Response from jQuery Ajax Request on click event</legend>
   <div id="ajaxResponseforexp"></div>
 </fieldset>
 <input type="button" id="start" value="start">
 <input type="button" id="state" value="state">
 <input type="button" id="expression" value="expression">

 
  <fieldset>
   <legend>Response from jQuery Ajax Request on click event</legend>
   <div id="ajaxResponseforanswer"></div>
 </fieldset>
  <input type="button" id="quizanswer" value="quizanswer">
</form>



</body>
</html>